<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class=container>
<%= link_to t('navbar.title'), root_path, class: "navbar-brand" %>
<button class="navbar-toggler navbar-toggler-right" type=button data-toggle=collapse data-target=#navbarResponsive aria-controls=navbarResponsive aria-expanded=false aria-label="Toggle navigation">
<span class=navbar-toggler-icon></span>
</button>
<div class="collapse navbar-collapse" id=navbarResponsive>
<ul class="navbar-nav ml-auto">
<li class=nav-item>
</li>
<li class=nav-item>
<%= link_to t('navbar.blog'), posts_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.products'), products_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.about'), welcome_about_path, class: "nav-link" %>
<li>
<li class=nav-item>
<%= link_to t('navbar.contact'), new_contact_path, class: "nav-link" %>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
<% end %>
</li>
</ul>
</div>
</div>
</nav>
<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Contact
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Contact</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-8 mb-4">
          <!-- Embedded Google Map -->
          
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Contact Details</h3>
          <p>
            3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
          </p>
          <p>
            <abbr title="Phone">P</abbr>: (123) 456-7890
          </p>
          <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:name@example.com">name@example.com
            </a>
          </p>
          <p>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
        </div>
      </div>
      <!-- /.row -->

      <!-- Contact Form -->
      <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <%= form_for @contact do |f| %>
      <div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Send us a Message</h3>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group form-group">
              <div class="controls">
                <%= f.label :name %>
                <%= f.text_field :name, required: true, class: "form-control",id: "name",type: "text" %>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Phone Number:</label>
                <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                
                <%= f.label :email %>
                <%= f.email_field :email, required: true, class: "form-control", id: "email", type: "email" %>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <%= f.label :message %>
                <%= f.text_area :message, as: :text, class: "form-control", id: "message",rows: "10", cols: "100", style: "resize:none",maxlength: "999" %>
              </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
          </form>
        </div>
        <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>