<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
<div class=container>
<%= link_to t('navbar.title'), root_path, class: "navbar-brand" %>
<button class="navbar-toggler navbar-toggler-right" type=button data-toggle=collapse data-target=#navbarResponsive aria-controls=navbarResponsive aria-expanded=false aria-label="Toggle navigation">
<span class=navbar-toggler-icon></span>
</button>
<div class="collapse navbar-collapse" id=navbarResponsive>
<ul class="navbar-nav ml-auto">
<li class=nav-item>
</li>
<li class=nav-item>
<%= link_to t('navbar.blog'), posts_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.products'), products_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.about'), welcome_about_path, class: "nav-link" %>
<li>
<li class=nav-item>
<%= link_to t('navbar.contact'), new_contact_path, class: "nav-link" %>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
<% end %>
</li>
</ul>
</div>
</div>
</nav>
<div class="container">
<h1 class="mt-4 mb-3">
<small></small>
</h1>
<div class="row">
<% @products.each do |product| %>
<div class="col-lg-4 col-sm-6 portfolio-item">
<div class="card h-100">
<%= link_to product do %>
<%= image_tag product.image,class: "card-img-top", alt: ""%>
<% end %>
<div class="card-body">
<h4 class="card-title">
<%= link_to product do %>
<%= product.main_title %>
<% end %>
</h4>
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
<% end %>
</div>
      






























    </div>
    <!-- /.container -->

     

    <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>







