<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
<%= link_to 'Daniel Pilates', root_path, class: "navbar-brand" %>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<%= link_to t('navbar.blog'), posts_path, class: "nav-link" %>
</li>
<li class="nav-item">
<%= link_to t('navbar.products'), products_path, class: "nav-link" %>
</li>
<li class="nav-item">
<%= link_to t('navbar.about'), welcome_about_path, class: "nav-link" %>
<li>
<li class="nav-item">
<%= link_to t('navbar.contact'), new_contact_path, class: "nav-link" %>
</li>
<li class="nav-item">
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
<% end %>
</li>
</ul>
</div>
</div>
</nav>
<div class="container">
<div class="row" itemscope itemtype="http://schema.org/Product">
<div class="col-lg-9">
<div class="card mt-4">
<%= image_tag @product.image.url, class: "card-img-top img-fluid", itemprop: "image" %>
<div class="card-body">
<h3 class="card-title" itemprop="name"><%= @product.main_title %></h3>
<h4 itemprop="price">$<%= @product.price %></h4>
<p class="card-text" itemprop="sub-title"><%= @product.sub_title %></p>
</div>
<div class="card card-outline-secondary my-4">
<div class="card-header">
Product Reviews
</div>
<div class="card-body">
<p itemprop="description"><%= @product.description %></p>
<small class="text-muted">Posted by Anonymous on 3/1/17</small>
<hr>
<a href="#" class="btn btn-success">Leave a Review</a>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
</div>
</footer>