<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class=container>
<%= link_to t('navbar.title'), root_path, class: "navbar-brand" %>
<button class="navbar-toggler navbar-toggler-right" type=button data-toggle=collapse data-target=#navbarResponsive aria-controls=navbarResponsive aria-expanded=false aria-label="Toggle navigation">
<span class=navbar-toggler-icon></span>
</button>
<div class="collapse navbar-collapse" id=navbarResponsive>
<ul class="navbar-nav ml-auto">
<li class=nav-item>
</li>
<li class=nav-item>
<%= link_to t('navbar.blog'), posts_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.products'), products_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.about'), welcome_about_path, class: "nav-link" %>
<li>
<li class=nav-item>
<%= link_to t('navbar.contact'), new_contact_path, class: "nav-link" %>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
<% end %>
</li>
</ul>
</div>
</div>
</nav>
<div class="container">
<h1 class="mt-4 mb-3"><%= @product.main_title %>
</h1>
<div class="row">
<div class="col-lg-8">
<%= image_tag @product.image, class: "img-fluid rounded", itemprop: "image" %>
<hr>
<p class="lead"><%= @product.description %></p>
<hr>
<h3 class="my-4">ציוד נלווה לרפורמר כלול במחיר</h3>
<div class="row">
<div class="col-md-3 col-sm-6 mb-4">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-box.jpg" alt="reformer-box">
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-springs.jpg" alt="">
</a>
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-double-loops.jpg" alt="">
</a>
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-jumpboard.jpg" alt="">
</a>
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-ropes.jpg" alt="">
</a>
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-head-support-pillow.jpg" alt="">
</a>
</div>
<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/danielpilates/products-me/reformer-foot-straps.jpg" alt="">
</a>
</div>
</div>
</div>
</div>    
</div>
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
</div>
</footer>


