<!DOCTYPE html>
<html>
  <head>
    <title>Donpilates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <style>
      body {
       padding-top: 54px;
      }

      @media (min-width: 992px) {
       body {
        padding-top: 56px;
       }
      }

      .carousel-item {
        height: 65vh;
        min-height: 300px;
        background: no-repeat center center scroll;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
      }

      .portfolio-item {
         margin-bottom: 30px;
       }

    </style>
  </head>

  <body>
    

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
